<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Congrats! You're accepted to {{teamName}}</title>
</head>
{{> header}}

<body style="font-family: Arial, sans-serif; color: #333;">
    <p>Hey {{inviteeName}},<br>Thank you for continuing your journey with App Dev! <b>{{invitorName}}</b> believes that
        you'd be able to help drive the
        <b>{{teamName}}</b> team as a <b>{{roleTitle}}</b>. Considering that you've already been a part of App Dev,
        we've automatically onboarded you to
        the team.
    </p>
    <p>If you will not be able to commit to this position, please reply to this email ASAP since, offering you this
        position is taking away an opportunity from another ambitious candidate.</p>
    <p>Once again, thank you so much for being a part of App Dev and helping us expand this awesome community of
        thinkers and innovators.</p>
</body>
{{> footer}}

</html>